---
layout: default
published: true
---

<br>
<br>
We are thrilled to introduce DSA's Degrowth Caucus. Our caucus is based on the idea that the Left should integrate degrowth into its politics for several important reasons, including to hit the <a href="https://en.wikipedia.org/wiki/Paris_Agreement#start=The Paris Agreementslongtermtemperaturegoal&end=contributions">:climate targets</a> socialists have embraced as vital political goals. We have formed at a critical juncture in human history. The decade of the <a href="https://en.wikipedia.org/wiki/Green_New_Deal">:Green New Deal</a> is upon us, characterized by a rapidly closing window for sufficient climate action, a resurgent Left in the U.S. and a growing eco-fascist movement globally. We believe that being vocal and explicit about the need for degrowth can help rather than hurt the socialist movement, as well as help birth the new culture we need to manage without growth. However, we realize that the dialogue between degrowth and ecosocialism is a work in progress.


<br>
<br>
- <a href="/post/2022-12-30/Points-of-Unity">Points of Unity</a> <br>
- <a href="/post/2022-12-29/Glossary">Glossary of terms</a> <br>
- <a href="/Code-of-Conduct">Code of Conduct</a>

<br>
<img src="/assets/SVGs/Degrowth_doughnut.svg" alt = "Degrow postgrowth chart">
<br>
<hr>

<div class="catalogue">
  {% for post in site.posts %}
    {% if post.sticky %}
      {% include catalogue_item.html sticky='true' %}
    {% endif %}
  {% endfor %}

  {% for post in paginator.posts %}
    {% include catalogue_item.html %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
