---
layout: default
---

<br>
<br>
A definition of resiliency by the NAS, widely accepted by the building industries, is "the ability to plan and prepare for, absorb, recover from, and more successfully adapt to <a href="https://en.wikipedia.org/wiki/Climate_change">:disruptive events</a>.’ In the context of the built environment, the goal of a resilient system, at each of these four stages, is to have reduced failure probability, reduced consequences from failure, and reduced time to recover.
<br>
<img src="/assets/SVGs/double_snail.svg" alt = "two snails in green and red">
<br>
<hr>

<div class="catalogue">
  {% for post in site.posts %}
    {% if post.sticky %}
      {% include catalogue_item.html sticky='true' %}
    {% endif %}
  {% endfor %}

  {% for post in paginator.posts %}
    {% include catalogue_item.html %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
