---
layout: default
---
<br>
A definition of resiliency by the NAS, widely accepted by the building industries, is "the ability to plan and prepare for, absorb, recover from, and more successfully adapt to disruptive events.’ In the context of the built environment, the goal of a resilient system, at each of these four stages, is to have reduced failure probability, reduced consequences from failure, and reduced time to recover.

<h2>To write a section,</h2>
<p>just use headings &amp; paragraphs like this! Then…</p>
<h2>To embed a section,</h2>
<p>just make a link with :colon at the front… <a href="#ToWriteASection">:LIKE THIS</a>!</p>
<h2>Details about linking to stuff</h2>
<p><strong>To link to a section on the same page</strong>, use a # followed by the text of the section's heading – capitalization, spaces, and punctuation don't matter.</p>
<p><a href="#ToEmbedASection">:This example</a> links to <code>#ToEmbedASection</code></p>
<p><strong>To link to a section from a different page</strong>, link to the URL, followed by # and section heading:</p>
<p><a href="https://ncase.me/faq/#GoodMentalHealth">:This example</a> links to <code>https://ncase.me/faq/#GoodMentalHealth</code></p>
<p><strong>If you link to a page without a #SectionHeading</strong>, it'll embed the <em>whole</em> article.</p>
<p><a href="https://blog.ncase.me/parable-of-the-hill-climber/">:This example</a> links to <code>https://blog.ncase.me/parable-of-the-hill-climber/</code></p>
<p><strong>Three notes on embedding from other pages:</strong></p>
<p>1) Not sure if you're doing it right? Test your link in this demo page! (Remember the :colon in the link text, and the # for the section!)</p>
<p>2) Only embed from sites you trust! They can change their content at any time (but that's problem for regular links, too). You can mirror/copy the site to be extra safe.</p>
<p>3) The other site must either also have Nutshell installed, or <a href="../#cors">:CORS</a> enabled. If you don't know if the other site has Nutshell/CORS, test out linking to it in this demo page.</p>
<h2>Other Fun Stuff</h2>
<p>You want to embed an explanation, but no-one's written it yet &amp; you can't be bothered to either? <strong>Get the intro from a Wikipedia article</strong> by linking to it!</p>
<p><a href="https://en.wikipedia.org/wiki/Catgirl">:Catgirl on English Wikipedia</a> links to <code>https://en.wikipedia.org/wiki/Catgirl)</code></p>
<p><a href="https://fr.wikipedia.org/wiki/Baguette_(pain)">:Baguette on French Wikipedia</a> links to <code>https://fr.wikipedia.org/wiki/Baguette_(pain)</code></p>
<p><a href="https://simple.wikipedia.org/wiki/Universe">:Universe on Simple Wikipedia</a> links to <code>https://simple.wikipedia.org/wiki/Universe</code></p>
<p><strong>You can also link to YouTube videos so they can expand in-place.</strong> You can even specify a specific starting time – on a YouTube page, click 'Share' then 'Start at [time]'.</p>
<p><a href="https://youtu.be/pQ2dI_B_Ycg?t=36">:Knife-Wielding Tentacle, starting at 0:36</a> links to <code>https://youtu.be/pQ2dI_B_Ycg?t=36</code></p>
<p>For more advanced features (like how to make a section hidden by default, get sections by text-search instead of headings, add words before/after an embedded snippet, etc…) check out <a href="https://github.com/ncase/nutshell#advanced-features--options">the documentation!</a></p>

<div class="catalogue">
  {% for post in site.posts %}
    {% if post.sticky %}
      {% include catalogue_item.html sticky='true' %}
    {% endif %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
